---
import { work } from '@cv';
import Section from '../Section.astro';
import Link from '@/icons/Link.astro';
---

<Section title="Experiencia">
  <ul>
    {
      work.map(
        ({
          name,
          startDate,
          endDate,
          position,
          summary,
          highlights,
          location,
          url
        }) => {
          return (
            <li>
              <article>
                <header>
                  <div class="location">
                    <div class="company">
                      <div class="company-name-container">
                        <h3>{name}</h3>
                        {url && (
                          <a href={url} target="_blank" rel="noopener noreferrer" title={`Visitar sitio de ${name}`}>
                            <Link />
                          </a>
                        )}
                      </div>
                      <h4>{position}</h4>
                    </div>
                  </div>
                  <time>
                    {startDate} - {endDate}
                  </time>
                </header>
                <footer>
                  <p>{summary}</p>
                </footer>
              </article>
            </li>
          );
        }
      )
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  article h3 {
    font-weight: 500;
    color: #111;
  }

  article h4 {
    color: #222;
    font-weight: 400;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4px;
  }

  time {
    color: #555;
    font-size: 0.85rem;
    min-width: 102px;
  }

  footer p {
    font-size: 0.75rem;
    line-height: 1rem;
  }

  .company {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
  }

  .company-name-container {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .company-name-container a {
    color: #666;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
    padding: 2px;
    height: 22px;
    width: 22px;
    border-radius: 4px;
    transition: all 0.3s ease;
  }

  .company-name-container a:hover {
    background: #eee;
    border: 1px solid #ddd;
  }

  .location {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .location h2 {
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1rem;
    border-width: 1px;
    border-color: transparent;
    background-color: #f8f8fa;
    border-radius: 8px;
    padding: 0.4rem;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  }

  @media (width <= 700px) {
    time {
      text-align: right;
    }
  }
</style>